<%= render "shared/second_header" %>
<div class = "field-main"> 
  <div class='login-form'>
    <div class='login-form-header'>
      <h1 class='login-form-header-text'>
        パスワードをお忘れですか？
      </h1>
    </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
 
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class='login-btn'>
      <%= f.submit "パスワードリセット手順を送信"  ,class:"login-red-btn" %>
    </div>
  <% end %>
    <div class = "links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<%= render "shared/footer"%>